body {
    text-align: center;
    background-color: #2D2D2D;
}

#level-title {
    font-size: 2rem;
    font-family: 'Press Start 2P', cursive;
    margin: 5%;
    margin-top: 8%;
    color: white;
}

.container {
    display: block;
    width: 50%;
    margin: auto;
}

.btn {
    margin: 40px;
    display: inline-block;
    height: 180px;
    width: 180px;
    border: 10px solid #F2F2F2;
    border-radius: 15%;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}

.red {
    background-color: #FF0060;
}

.green {
    background-color: #00DFA2;
}

.blue {
    background-color: #0079FF;
}

.yellow {
    background-color: #F6FA70;
}

.pressed {
    box-shadow: 0 0 15px wheat;
    background-color: grey;
}

